apiVersion: v1
kind: Service
metadata:
  name: helloworld-service
spec:
  type: NodePort
  selector:
    app: helloworld
  ports:
    - port: 80           # Cluster IP port
      targetPort: 8080   # Container port
      nodePort: 32000    # NodePort for external access
